<a href="https://colab.research.google.com/github/rhpandit11/PySpark_CheatSheet/blob/main/pyspark_cheatSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=6bf3c1fb055c1b0a9679018437912b10f06a2354dbe470d57709698410ea4e93
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[*]")\
        .appName('pyspark_cheatsheet')\
        .getOrCreate()


Loading data stored in filesystems or databases, and saving it.

In [ ]:
#Load a DataFrame from CSV
df = spark.read.format("csv").option("header", True).load("/content/drive/MyDrive/pyspark/practice-file/auto-mpg.csv")
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 5 rows

In [5]:
#Load a DataFrame from a Tab Separated Value (TSV) file
df = (
    spark.read.format("csv")
    .option("header", True)
    .option("sep", "\t")
    .load("/content/drive/MyDrive/pyspark/practice-file/auto-mpg.tsv")
)
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 5 rows

In [ ]:
#Save a DataFrame in CSV format
auto_df.write.csv("output.csv")

In [7]:
#Load a DataFrame from Parquet
df = spark.read.format("parquet").load("/content/drive/MyDrive/pyspark/practice-file/auto-mpg.parquet")
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 5 rows

In [ ]:
#Save a DataFrame in Parquet format
auto_df.write.parquet("output.parquet")

In [8]:
#Load a DataFrame from JSON Lines (jsonl) Formatted Data
df = spark.read.json("/content/drive/MyDrive/pyspark/practice-file/weblog.jsonl")
df.show(5)

+--------------------+----------+--------+----------+--------------------+------+
|              client|   country| session| timestamp|                 uri|  user|
+--------------------+----------+--------+----------+--------------------+------+
|{false, Mozilla/5...|Bangladesh|55fa8213| 869196249|http://larson-har...|dde312|
|{true, Mozilla/5....|      Niue|2fcd4a83|1031238717|http://hahn.com/p...|9d00b9|
|{true, Mozilla/5....|    Rwanda|013b996e| 628683372|http://mann-cruz....|1339d4|
|{false, Mozilla/5...|   Austria|07e8a71a|1043628668|https://www.jones...|966312|
|{false, Mozilla/5...|    Belize|b23d05d8| 192738669|http://rose-colem...|2af1e1|
+--------------------+----------+--------+----------+--------------------+------+
only showing top 5 rows

In [ ]:
#Save a DataFrame into a Hive catalog table
auto_df.write.mode("overwrite").saveAsTable("autompg")

In [ ]:
#Load a Hive catalog table into a DataFrame
df = spark.table("autompg")
df.show()

In [ ]:
#Load a DataFrame from a SQL query
df = sqlContext.sql(
    "select carname, mpg, horsepower from autompg where horsepower > 100 and mpg > 25"
)
df.show()

In [ ]:
#Load a CSV file from Amazon S3
import configparser
import os

config = configparser.ConfigParser()
config.read(os.path.expanduser("~/.aws/credentials"))
access_key = config.get("default", "aws_access_key_id").replace('"', "")
secret_key = config.get("default", "aws_secret_access_key").replace('"', "")

# Requires compatible hadoop-aws and aws-java-sdk-bundle JARs.
spark.conf.set(
    "fs.s3a.aws.credentials.provider",
    "org.apache.hadoop.fs.s3a.SimpleAWSCredentialsProvider",
)
spark.conf.set("fs.s3a.access.key", access_key)
spark.conf.set("fs.s3a.secret.key", secret_key)

df = (
    spark.read.format("csv")
    .option("header", True)
    .load("s3a://cheatsheet111/auto-mpg.csv")
)

In [ ]:
#Write a DataFrame to a Postgres table
pg_database = os.environ.get("PGDATABASE") or "postgres"
pg_host = os.environ.get("PGHOST") or "localhost"
pg_password = os.environ.get("PGPASSWORD") or "password"
pg_user = os.environ.get("PGUSER") or "postgres"
table = "autompg"

properties = {
    "driver": "org.postgresql.Driver",
    "user": pg_user,
    "password": pg_password,
}
url = f"jdbc:postgresql://{pg_host}:5432/{pg_database}"
auto_df.write.jdbc(url=url, table=table, mode="Append", properties=properties)

In [ ]:
#Read a Postgres table into a DataFrame
pg_database = os.environ.get("PGDATABASE") or "postgres"
pg_host = os.environ.get("PGHOST") or "localhost"
pg_password = os.environ.get("PGPASSWORD") or "password"
pg_user = os.environ.get("PGUSER") or "postgres"
table = "autompg"

properties = {
    "driver": "org.postgresql.Driver",
    "user": pg_user,
    "password": pg_password,
}
url = f"jdbc:postgresql://{pg_host}:5432/{pg_database}"
df = spark.read.jdbc(url=url, table=table, properties=properties)
df.show()


# Special data handling scenarios.

In [15]:
#Provide the schema when loading a DataFrame from CSV
from pyspark.sql.types import (
    DoubleType,
    IntegerType,
    StringType,
    StructField,
    StructType,
)

schema = StructType(
    [
        StructField("mpg", DoubleType(), True),
        StructField("cylinders", IntegerType(), True),
        StructField("displacement", DoubleType(), True),
        StructField("horsepower", DoubleType(), True),
        StructField("weight", DoubleType(), True),
        StructField("acceleration", DoubleType(), True),
        StructField("modelyear", IntegerType(), True),
        StructField("origin", IntegerType(), True),
        StructField("carname", StringType(), True),
    ]
)
df = (
    spark.read.format("csv")
    .option("header", "true")
    .schema(schema)
    .load("/content/drive/MyDrive/pyspark/practice-file/auto-mpg.csv")
)
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
|18.0|        8|       307.0|     130.0|3504.0|        12.0|       70|     1|chevrolet chevell...|
|15.0|        8|       350.0|     165.0|3693.0|        11.5|       70|     1|   buick skylark 320|
|18.0|        8|       318.0|     150.0|3436.0|        11.0|       70|     1|  plymouth satellite|
|16.0|        8|       304.0|     150.0|3433.0|        12.0|       70|     1|       amc rebel sst|
|17.0|        8|       302.0|     140.0|3449.0|        10.5|       70|     1|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+
only showing top 5 rows

In [ ]:
#Save a DataFrame to CSV, overwriting existing data
auto_df.write.mode("overwrite").csv("output.csv")

In [ ]:
#Save a DataFrame to CSV with a header
auto_df.coalesce(1).write.csv("header.csv", header="true")

In [ ]:
#Save a DataFrame in a single CSV file
auto_df.coalesce(1).write.csv("single.csv")

In [ ]:
#Save DataFrame as a dynamic partitioned table
spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
auto_df.write.mode("append").partitionBy("modelyear").saveAsTable(
    "autompg_partitioned"
)

In [ ]:
#Overwrite specific partitions
spark.conf.set("spark.sql.sources.partitionOverwriteMode", "dynamic")
your_dataframe.write.mode("overwrite").insertInto("your_table")

In [ ]:
#Load a CSV file with a money column into a DataFrame
from pyspark.sql.functions import udf
from pyspark.sql.types import DecimalType
from decimal import Decimal

# Load the text file.
df = (
    spark.read.format("csv")
    .option("header", True)
    .load("/content/drive/MyDrive/pyspark/practice-file/customer_spend.csv")
)

# Convert with a hardcoded custom UDF.
money_udf = udf(lambda x: Decimal(x[1:].replace(",", "")), DecimalType(8, 4))
money1 = df.withColumn("spend_dollars", money_udf(df.spend_dollars))

# Convert with the money_parser library (much safer).
from money_parser import price_str

money_convert = udf(
    lambda x: Decimal(price_str(x)) if x is not None else None,
    DecimalType(8, 4),
)
df = df.withColumn("spend_dollars", money_convert(df.spend_dollars))
df.show()


# Adding, removing and modifying DataFrame columns.

In [22]:
#Add a new column to a DataFrame

from pyspark.sql.functions import upper, lower
df = (
    spark.read.format("csv")
    .option("header", True)
    .load("/content/drive/MyDrive/pyspark/practice-file/auto-mpg.csv")
)
auto_df = df.withColumn("upper", upper(df.carname)).withColumn(
    "lower", lower(df.carname)
)
auto_df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [23]:
#Modify a DataFrame column

from pyspark.sql.functions import col, concat, lit

df = auto_df.withColumn("modelyear", concat(lit("19"), col("modelyear")))
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|     1970|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|     1970|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|     1970|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|     1970|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|     1970|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [25]:
#Add a column with multiple conditions
from pyspark.sql.functions import col, when

df = auto_df.withColumn(
    "mpg_class",
    when(col("mpg") <= 20, "low")
    .when(col("mpg") <= 30, "mid")
    .when(col("mpg") <= 40, "high")
    .otherwise("very high"),
)
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|mpg_class|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      low|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      low|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      low|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      low|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|      low|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---------+
only showing top 5 rows

In [27]:
#Add a constant column
from pyspark.sql.functions import lit

df = auto_df.withColumn("one", lit(1))
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|one|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|  1|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|  1|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|  1|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|  1|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|  1|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+---+
only showing top 5 rows

In [29]:
#Concatenate columns
from pyspark.sql.functions import concat, col, lit

df = auto_df.withColumn(
    "concatenated", concat(col("cylinders"), lit("_"), col("mpg"))
)
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|concatenated|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|      8_18.0|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|      8_15.0|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|      8_18.0|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|      8_16.0|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|      8_17.0|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+------------+
only showing top 5 rows

In [31]:
#Drop a column
df = auto_df.drop("horsepower")
df.show(5)

+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [33]:
#Change a column name
df = auto_df.withColumnRenamed("horsepower", "horses")
df.show(5)

+----+---------+------------+------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horses|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [35]:
#Change multiple column names
df = auto_df.withColumnRenamed("horsepower", "horses").withColumnRenamed(
    "modelyear", "year"
)
df.show(5)

+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horses|weight|acceleration|year|origin|             carname|               upper|               lower|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0| 130.0| 3504.|        12.0|  70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0| 165.0| 3693.|        11.5|  70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0| 150.0| 3436.|        11.0|  70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0| 150.0| 3433.|        12.0|  70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0| 140.0| 3449.|        10.5|  70|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+------+------+------------+----+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [37]:
#Change all column names at once
df = auto_df.toDF(*["X" + name for name in auto_df.columns])
df.show(5)

+----+----------+-------------+-----------+-------+-------------+----------+-------+--------------------+--------------------+--------------------+
|Xmpg|Xcylinders|Xdisplacement|Xhorsepower|Xweight|Xacceleration|Xmodelyear|Xorigin|            Xcarname|              Xupper|              Xlower|
+----+----------+-------------+-----------+-------+-------------+----------+-------+--------------------+--------------------+--------------------+
|18.0|         8|        307.0|      130.0|  3504.|         12.0|        70|      1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|         8|        350.0|      165.0|  3693.|         11.5|        70|      1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|         8|        318.0|      150.0|  3436.|         11.0|        70|      1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|         8|        304.0|      150.0|  3433.|         12.0|        70|      1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|         8|        302.0|      140.0|  3449.|         10.5|        70|      1|         ford torino|         FORD TORINO|         ford torino|
+----+----------+-------------+-----------+-------+-------------+----------+-------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [38]:
#Convert a DataFrame column to a Python list
names = auto_df.select("carname").rdd.flatMap(lambda x: x).collect()
print(str(names[:10]))

['chevrolet chevelle malibu', 'buick skylark 320', 'plymouth satellite', 'amc rebel sst', 'ford torino', 'ford galaxie 500', 'chevrolet impala', 'plymouth fury iii', 'pontiac catalina', 'amc ambassador dpl']

In [39]:
#Convert a scalar query to a Python value
average = auto_df.agg(dict(mpg="avg")).first()[0]
print(str(average))

23.514572864321615

In [40]:
#Consume a DataFrame row-wise as Python dictionaries
first_three = auto_df.limit(3)
for row in first_three.collect():
    my_dict = row.asDict()
    print(my_dict)

{'mpg': '18.0', 'cylinders': '8', 'displacement': '307.0', 'horsepower': '130.0', 'weight': '3504.', 'acceleration': '12.0', 'modelyear': '70', 'origin': '1', 'carname': 'chevrolet chevelle malibu', 'upper': 'CHEVROLET CHEVELLE MALIBU', 'lower': 'chevrolet chevelle malibu'}
{'mpg': '15.0', 'cylinders': '8', 'displacement': '350.0', 'horsepower': '165.0', 'weight': '3693.', 'acceleration': '11.5', 'modelyear': '70', 'origin': '1', 'carname': 'buick skylark 320', 'upper': 'BUICK SKYLARK 320', 'lower': 'buick skylark 320'}
{'mpg': '18.0', 'cylinders': '8', 'displacement': '318.0', 'horsepower': '150.0', 'weight': '3436.', 'acceleration': '11.0', 'modelyear': '70', 'origin': '1', 'carname': 'plymouth satellite', 'upper': 'PLYMOUTH SATELLITE', 'lower': 'plymouth satellite'}

In [42]:
#Select particular columns from a DataFrame
df = auto_df.select(["mpg", "cylinders", "displacement"])
df.show(5)

+----+---------+------------+
| mpg|cylinders|displacement|
+----+---------+------------+
|18.0|        8|       307.0|
|15.0|        8|       350.0|
|18.0|        8|       318.0|
|16.0|        8|       304.0|
|17.0|        8|       302.0|
+----+---------+------------+
only showing top 5 rows

In [43]:
#Create an empty dataframe with a specified schema
from pyspark.sql.types import StructField, StructType, LongType, StringType

schema = StructType(
    [
        StructField("my_id", LongType(), True),
        StructField("my_string", StringType(), True),
    ]
)
df = spark.createDataFrame([], schema)
df.show()

+-----+---------+
|my_id|my_string|
+-----+---------+
+-----+---------+

In [44]:
#Create a constant dataframe
import datetime
from pyspark.sql.types import (
    StructField,
    StructType,
    LongType,
    StringType,
    TimestampType,
)

schema = StructType(
    [
        StructField("my_id", LongType(), True),
        StructField("my_string", StringType(), True),
        StructField("my_timestamp", TimestampType(), True),
    ]
)
df = spark.createDataFrame(
    [
        (1, "foo", datetime.datetime.strptime("2021-01-01", "%Y-%m-%d")),
        (2, "bar", datetime.datetime.strptime("2021-01-02", "%Y-%m-%d")),
    ],
    schema,
)
df.show()

+-----+---------+-------------------+
|my_id|my_string|       my_timestamp|
+-----+---------+-------------------+
|    1|      foo|2021-01-01 00:00:00|
|    2|      bar|2021-01-02 00:00:00|
+-----+---------+-------------------+

In [46]:
#Convert String to Double
from pyspark.sql.functions import col

df = auto_df.withColumn("horsepower", col("horsepower").cast("double"))
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [48]:
#Convert String to Integer
from pyspark.sql.functions import col

df = auto_df.withColumn("horsepower", col("horsepower").cast("int"))
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|       130| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|       165| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|       150| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|       150| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|       140| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [49]:
#Get the size of a DataFrame
print("{} rows".format(auto_df.count()))
print("{} columns".format(len(auto_df.columns)))

398 rows
11 columns

In [50]:
#Get a DataFrame's number of partitions
print("{} partition(s)".format(auto_df.rdd.getNumPartitions()))

1 partition(s)

In [51]:
#Get data types of a DataFrame's columns
print(auto_df.dtypes)

[('mpg', 'string'), ('cylinders', 'string'), ('displacement', 'string'), ('horsepower', 'string'), ('weight', 'string'), ('acceleration', 'string'), ('modelyear', 'string'), ('origin', 'string'), ('carname', 'string'), ('upper', 'string'), ('lower', 'string')]

In [52]:
#Convert an RDD to Data Frame
from pyspark.sql import Row

# First, get the RDD from the DataFrame.
rdd = auto_df.rdd

# This converts it back to an RDD with no changes.
df = rdd.map(lambda x: Row(**x.asDict())).toDF()

# This changes the rows before creating the DataFrame.
df = rdd.map(
    lambda x: Row(**{k: v * 2 for (k, v) in x.asDict().items()})
).toDF()
df.show(5)

+--------+---------+------------+----------+----------+------------+---------+------+--------------------+--------------------+--------------------+
|     mpg|cylinders|displacement|horsepower|    weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+--------+---------+------------+----------+----------+------------+---------+------+--------------------+--------------------+--------------------+
|18.018.0|       88|  307.0307.0|130.0130.0|3504.3504.|    12.012.0|     7070|    11|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.015.0|       88|  350.0350.0|165.0165.0|3693.3693.|    11.511.5|     7070|    11|buick skylark 320...|BUICK SKYLARK 320...|buick skylark 320...|
|18.018.0|       88|  318.0318.0|150.0150.0|3436.3436.|    11.011.0|     7070|    11|plymouth satellit...|PLYMOUTH SATELLIT...|plymouth satellit...|
|16.016.0|       88|  304.0304.0|150.0150.0|3433.3433.|    12.012.0|     7070|    11|amc rebel sstamc ...|AMC REBEL SSTAMC ...|amc rebel sstamc ...|
|17.017.0|       88|  302.0302.0|140.0140.0|3449.3449.|    10.510.5|     7070|    11|ford torinoford t...|FORD TORINOFORD T...|ford torinoford t...|
+--------+---------+------------+----------+----------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [53]:
#Print the contents of an RDD
rdd = auto_df.rdd
print(rdd.take(10))

[Row(mpg='18.0', cylinders='8', displacement='307.0', horsepower='130.0', weight='3504.', acceleration='12.0', modelyear='70', origin='1', carname='chevrolet chevelle malibu', upper='CHEVROLET CHEVELLE MALIBU', lower='chevrolet chevelle malibu'), Row(mpg='15.0', cylinders='8', displacement='350.0', horsepower='165.0', weight='3693.', acceleration='11.5', modelyear='70', origin='1', carname='buick skylark 320', upper='BUICK SKYLARK 320', lower='buick skylark 320'), Row(mpg='18.0', cylinders='8', displacement='318.0', horsepower='150.0', weight='3436.', acceleration='11.0', modelyear='70', origin='1', carname='plymouth satellite', upper='PLYMOUTH SATELLITE', lower='plymouth satellite'), Row(mpg='16.0', cylinders='8', displacement='304.0', horsepower='150.0', weight='3433.', acceleration='12.0', modelyear='70', origin='1', carname='amc rebel sst', upper='AMC REBEL SST', lower='amc rebel sst'), Row(mpg='17.0', cylinders='8', displacement='302.0', horsepower='140.0', weight='3449.', acceleration='10.5', modelyear='70', origin='1', carname='ford torino', upper='FORD TORINO', lower='ford torino'), Row(mpg='15.0', cylinders='8', displacement='429.0', horsepower='198.0', weight='4341.', acceleration='10.0', modelyear='70', origin='1', carname='ford galaxie 500', upper='FORD GALAXIE 500', lower='ford galaxie 500'), Row(mpg='14.0', cylinders='8', displacement='454.0', horsepower='220.0', weight='4354.', acceleration='9.0', modelyear='70', origin='1', carname='chevrolet impala', upper='CHEVROLET IMPALA', lower='chevrolet impala'), Row(mpg='14.0', cylinders='8', displacement='440.0', horsepower='215.0', weight='4312.', acceleration='8.5', modelyear='70', origin='1', carname='plymouth fury iii', upper='PLYMOUTH FURY III', lower='plymouth fury iii'), Row(mpg='14.0', cylinders='8', displacement='455.0', horsepower='225.0', weight='4425.', acceleration='10.0', modelyear='70', origin='1', carname='pontiac catalina', upper='PONTIAC CATALINA', lower='pontiac catalina'), Row(mpg='15.0', cylinders='8', displacement='390.0', horsepower='190.0', weight='3850.', acceleration='8.5', modelyear='70', origin='1', carname='amc ambassador dpl', upper='AMC AMBASSADOR DPL', lower='amc ambassador dpl')]

In [55]:
#Print the contents of a DataFrame
auto_df.show(10)
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|
|15.0|        8|       429.0|     198.0| 4341.|        10.0|       70|     1|    ford galaxie 500|    FORD GALAXIE 500|    ford galaxie 500|
|14.0|        8|       454.0|     220.0| 4354.|         9.0|       70|     1|    chevrolet impala|    CHEVROLET IMPALA|    chevrolet impala|
|14.0|        8|       440.0|     215.0| 4312.|         8.5|       70|     1|   plymouth fury iii|   PLYMOUTH FURY III|   plymouth fury iii|
|14.0|        8|       455.0|     225.0| 4425.|        10.0|       70|     1|    pontiac catalina|    PONTIAC CATALINA|    pontiac catalina|
|15.0|        8|       390.0|     190.0| 3850.|         8.5|       70|     1|  amc ambassador dpl|  AMC AMBASSADOR DPL|  amc ambassador dpl|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 10 rows

+--------+---------+------------+----------+----------+------------+---------+------+--------------------+--------------------+--------------------+
|     mpg|cylinders|displacement|horsepower|    weight|acceleration|modelyear|origin|             carname|               upper|               lower|
+--------+---------+------------+----------+----------+------------+---------+------+--------------------+--------------------+--------------------+
|18.018.0|       88|  307.0307.0|130.0130.0|3504.3504.|    12.012.0|     7070|    11|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|
|15.015.0|       88|  350.0350.0|165.0165.0|3693.3693.|    11.511.5|     7070|    11|buick skylark 320...|BUICK SKYLARK 320...|buick skylark 320...|
|18.018.0|       88|  318.0318.0|150.0150.0|3436.3436.|    11.011.0|     7070|    11|plymouth satellit...|PLYMOUTH SATELLIT...|plymouth satellit...|
|16.016.0|       88|  304.0304.0|150.0150.0|3433.3433.|    12.012.0|     7070|    11|amc rebel sstamc ...|AMC REBEL SSTAMC ...|amc rebel sstamc ...|
|17.017.0|       88|  302.0302.0|140.0140.0|3449.3449.|    10.510.5|     7070|    11|ford torinoford t...|FORD TORINOFORD T...|ford torinoford t...|
+--------+---------+------------+----------+----------+------------+---------+------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [57]:
#Process each row of a DataFrame
import os

def foreach_function(row):
    if row.horsepower is not None:
        os.system("echo " + row.horsepower)

auto_df.foreach(foreach_function)
print(auto_df)

DataFrame[mpg: string, cylinders: string, displacement: string, horsepower: string, weight: string, acceleration: string, modelyear: string, origin: string, carname: string, upper: string, lower: string]

In [58]:
#DataFrame Map example
def map_function(row):
    if row.horsepower is not None:
        return [float(row.horsepower) * 10]
    else:
        return [None]

df = auto_df.rdd.map(map_function).toDF()
df.show()

+------+
|    _1|
+------+
|1300.0|
|1650.0|
|1500.0|
|1500.0|
|1400.0|
|1980.0|
|2200.0|
|2150.0|
|2250.0|
|1900.0|
|1700.0|
|1600.0|
|1500.0|
|2250.0|
| 950.0|
| 950.0|
| 970.0|
| 850.0|
| 880.0|
| 460.0|
+------+
only showing top 20 rows

In [59]:
#DataFrame Flatmap example
from pyspark.sql.types import Row

def flatmap_function(row):
    if row.cylinders is not None:
        return list(range(int(row.cylinders)))
    else:
        return [None]

rdd = auto_df.rdd.flatMap(flatmap_function)
row = Row("val")
df = rdd.map(row).toDF()
df.show()

+---+
|val|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  0|
|  1|
|  2|
|  3|
+---+
only showing top 20 rows

In [61]:
#Create a custom UDF
from pyspark.sql.functions import col, udf
from pyspark.sql.types import StringType

first_word_udf = udf(lambda x: x.split()[0], StringType())
df = auto_df.withColumn("manufacturer", first_word_udf(col("carname")))
df.show(5)

+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|modelyear|origin|             carname|               upper|               lower|manufacturer|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+------------+
|18.0|        8|       307.0|     130.0| 3504.|        12.0|       70|     1|chevrolet chevell...|CHEVROLET CHEVELL...|chevrolet chevell...|   chevrolet|
|15.0|        8|       350.0|     165.0| 3693.|        11.5|       70|     1|   buick skylark 320|   BUICK SKYLARK 320|   buick skylark 320|       buick|
|18.0|        8|       318.0|     150.0| 3436.|        11.0|       70|     1|  plymouth satellite|  PLYMOUTH SATELLITE|  plymouth satellite|    plymouth|
|16.0|        8|       304.0|     150.0| 3433.|        12.0|       70|     1|       amc rebel sst|       AMC REBEL SST|       amc rebel sst|         amc|
|17.0|        8|       302.0|     140.0| 3449.|        10.5|       70|     1|         ford torino|         FORD TORINO|         ford torino|        ford|
+----+---------+------------+----------+------+------------+---------+------+--------------------+--------------------+--------------------+------------+
only showing top 5 rows